:root {
  background: black;
  color: white;
}
html,
body {
  overflow: hidden;
  font-size: 11pt;
}
html, body, input, button, p, ul {
  font-family: monospace;
  padding: 0;
  margin: 0;
}
ul {
  padding-left: 1rem;
  list-style-type: "- ";
}
p, li {
  margin-bottom: .5rem;
}
input, button {
  font-size: 1rem;
  padding: .2rem;
}
#app.graph-loading {
  opacity: 0;
  pointer-events: none;
}
#app:not(.graph-loading) {
  opacity: 1;
  pointer-events: all;
}
#app.graph-loading + #loader {
  display: flex;
}
#app:not(.graph-loading) + #loader {
  display: none;
}
#loader {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: .28;
}
#sidebar {
  display: block;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  height: 95vh;
  z-index: 3;
  pointer-events: none;
  max-height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  right: 5vw;
  width: 30vw;
  overflow: hidden;
}
.ui-box {
  max-height: 100%;
  overflow-y:auto;
  overflow-x: hidden;
}
#reader:empty {
  display:none;
}
#reader:not(:empty) + #search-list {
  display: none;
}
.ui-box {
  pointer-events: all;
  margin-bottom: 0.5rem;
  width: 100%;
  position: relative;
  background: #131313;
  border: 1px solid #000;
}
.ui-box-header {
  padding: 0.25rem;
  cursor: pointer;
}
.ui-file-close-button {
  background: black;
  color: white;
  text-decoration: none;
  width: 1 rem;
  margin-right: 0.5rem;
  justify-content: center;
}
.ui-file-body {
  padding: 0 1rem;
  border-left: 1px solid #999;
  margin-bottom: 1px;
}
.ui-file-body a {
  color: #ddd;
  text-decoration: underline;
}
.ui-file-body img {
  max-width: 100%;
}
.ui-file-button-list {
}
.ui-file-button-list-body {
  overflow-y: scroll;
  max-height: 30vh;
}
.ui-file-button {
  display: flex;
  flex-direction: row;
  color: white;
  text-decoration: none;
  border-left: 1px solid white;
  margin-bottom: 2px;
}
.ui-file-button-content{ 
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 .2rem 0 .5rem;
}
.ui-file-button:hover {
  border-left-color: red;
}
.ui-file-button-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  width: 100%;
}
.ui-file-button-score,
.ui-file-button-tag {
  background: #080808;
  font-size: .75rem;
  color: #ccc;
  border: 1px solid black;
  margin-left: 4px;
  padding: .2rem;
}
.ui-file-button-score-value {
  background: #111;
  padding: 0 1px;
  color: white;
  margin-right: .2rem;
  font-size: .7rem;
}
.ui-file-button-excerpt {
  color: #999; 
  font-size: 0.9rem;
}
.ui-file-button-score-prefix {
  width: 3rem;
  display: block;
  background: #080808;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui-file-header {
  width: 100%;
  background: #000;
  border-left: 1px solid #999;
  margin-bottom: 2px;
  padding: .2rem .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ui-file-button-created-at {
  color: #555;
  font-size: .8rem;
  float: right;
}
.ui-file-button-list-header {
  outline: none;
  border: none;
  background: #000;
  color: white;
  width: 100%;  
  border-left: 1px solid #999;
  padding: .2rem; 
  font-size: 1rem;
  margin-bottom: 2px;
  display:  flex;
  flex-direction: row;
}
.ui-file-button-list-title {
  width: auto;
  display: flex;
  align-items: center;
  padding: .25rem;
}
input.ui-file-button-list-filter {
  outline: none;
  border: none;
  color: white;
  background: #030303;
  padding: .25rem;
  width: 100%;
  font-size: .8rem;
}
.ui-file-img {
  object-fit: contain;
  width: 100%;
}
.ui-file-button-list-title:empty + input.ui-file-button-list-filter {
  margin-right: 1rem;
}
.ui-box-body form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.ui-box-body form > div {
  width: 100%;
}
.ui-box-body form input, .ui-box-body form button {
  background: #111;
  border: none;
  border-left: 1px solid white;
  outline: none;
  width: 100%;
  color: white;
  text-align: center;
  margin-bottom: 2px;
}
.ui-box-body form input.invalid {
  color: red;
  border-left-color: red;
}
.ui-box-body form input:hover, .ui-box-body form button:hover {
  border-left: 1px solid red;
}
.ui-box-body form button {
  cursor: pointer;
}
.ui-file-button-score-prefix:empty:before {
  content: "N/A";
  font-size: .9rem;
  color: #333;
}
/* Scrollbar */

::-webkit-scrollbar {
  width: 1rem;
}
 
::-webkit-scrollbar-track {
}
 
::-webkit-scrollbar-thumb {
  background-color: white;
}
::-webkit-scrollbar-thumb:hover {
  background-color: red;
}
@media (max-width: 1000px) {
  #sidebar {
    width: 95vw;
    right: 1vw;
    top: auto;
    bottom: 0;
  }
}